
    </section>

  	<footer>
  	    <p>
  	    	{{ site.description }}
  	    </p>
  	    <p class="view">
          <a href="http://enjoyagile.com" target="_enjoyagile_slack">
               Slack Enjoy Agile
          </a>
          <!--
          &nbsp;|&nbsp;
          <a href="http://enjoyagile.com/feed.xml" target="_rss">
               rss
          </a>
          -->
          &nbsp;|&nbsp;
          <a href="https://twitter.com/weopenspace" target="_twitter">
               twitter
          </a>                    
        </p>
  	    <p class="copyright">
        	Copyright 2021 We Open Space by Alento
        </p>
    </footer>

  </body>

</html>