<!doctype html>
<html lang="fr">
  <!-- ******************** HEADER SECTION ******************** -->
  <head>

  	<!-- META SECTION -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Alexandre Thibault" />
    <meta name="description" content="We Open Space by Enjoy Agile Paris, venez prendre rendez-vous avec vous même !" />

  	<!-- TITLE SECTION -->
    <title>{{ page.title }}</title>

    <!-- CSS & JS SECTION -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
  </head>

  <!-- ******************** BODY SECTION ******************** -->
  <body>

    <!-- ******************** NAVIGATION SECTION ******************** -->
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-white sticky-top py-2">
      <a class="navbar-brand" href="/">
        <img src="/images/weopenspace-logo.png" width="30" height="30" class="d-inline-block align-top" alt="We Open Space by Enjoy Agile">
        We Open Space by Enjoy Agile
      </a>
      <a class="py-2 d-md-inline-block btn btn-warning" 
         href="https://www.meetup.com/fr-FR/We-Open-Space/events/268562548/" 
         target="nextwos">Inscription</a>    
    </nav>

    <section>

    <!-- Body content-->
