
section {
	margin: 0px auto;
	max-width: 980px;
	position: relative;
	padding: 20px;
	text-align: justify;
}

h1 {
	font-size: 2em;
	color: #939393;
	line-height: 1.15em;
	margin: 20px 0 ;
}

.nav-main {
	background-color: #fff;
}

.nav-main a {
	color: #000;
}

.fill {
	height: 20px;
}

/* Make the image fully responsive */

.centered {
	max-width: 800px;
	margin: auto;
}

div#explications {
    text-align: justify;
    padding: 20px;
}

div#philosophie {
    text-align: justify;
    padding: 20px;
}

footer {
	font-size: 0.85em;
	width: 100%;
	text-align: center;
	border-top: 2px solid #ffc107;
	padding-top: 10px;
}

footer .copyright {
	font-size: 0.9em;
}

@media (max-width: 576px) {
  .container {
	max-width: 100%;
}
