.nav-main {
	background-color: #fff;
}

.nav-main a {
	color: #000;
}

.fill {
	height: 20px;
}

/* Make the image fully responsive */
/*.carousel-inner img {
	width: 100%;
	height: 100%;
}*/
.centered {
	max-width: 800px;
	margin: auto;
}

div#explications {
    text-align: justify;
    padding: 20px;
}

/*
.carousel-indicator {
	color: #fd7e14;
}*/

@media (max-width: 576px) {
  .container {
	max-width: 100%;
}
